@import "tailwindcss";
@import "tw-animate-css";

@theme {
  /*breakpoints*/
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1130px;
  --breakpoint-2xl: 1520;

  /*colors*/
  --color-primary: #2b2822;
  --color-secondary: #e8e4e0;
  --color-accent: #cbeff0;
  --color-accent-hover: #d8ebeb;
  --color-tertiary: #8fe0f1;
  --color-tertiary-hover: #c5e5ec;
  --color-quaternary: #fa9819;
  --color-quaternary-hover: #eeaf5d;

  /*fonts*/
  --font-primary: "JetBrains Mono";
}

body {
  @apply font-primary bg-primary text-secondary leading-relaxed;
}

body, * {
  cursor: none !important;
}

.h1 {
  @apply text-[40px] md:text-[52px] xl:text-[56px] leading-1 
  tracking-tight font-extrabold;
}

.h2 {
  @apply text-[32px] md:text-[36px] xl:text-[38px] leading-[1.15] 
  tracking-tight font-medium;
}

.h3 {
  @apply text-[28px] md:text-[30px] xl:text-[32px] leading-[1.2] 
  font-medium;
}

.h3 {
  @apply text-[22px] md:text-[26px] leading-snug font-medium;
}

.container {
  @apply px-[15px];
}

.btn {
  @apply flex items-center justify-center rounded-full
  cursor-pointer transition-all font-medium h-[56px];
}

.btn-sm {
  @apply min-w-[168px] px-5 text-[15px] font-semibold;
}

.btn-lg {
  @apply min-w-[200px] px-6;
}

.btn-accent {
  @apply bg-accent hover:bg-accent-hover;
}

.btn-tertiary {
  @apply bg-tertiary hover:bg-tertiary-hover;
}

.cursor {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 19px;
  height: 19px;
  background-color: var(--color-secondary);
  mix-blend-mode: difference;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  transition: transform 0.35s ease;
  pointer-events: none;
  z-index: 9999;
  box-shadow: 
    0 0 8px rgba(255, 255, 255, 0.2),
    0 0 16px rgba(255, 255, 255, 0.2),
    0 0 24px rgba(255, 255, 255, 0.1);
}

.cursor.hovered {
  transform: translate(-50%, -50%) scale(0.1);
}

.cursor.disabled {
  transform: translate(-50%, -50%) scale(0.8);
}

.cursor.outOfFrame {
  visibility: hidden;
}